.signup__bg {
    background-image: url(../images/Step.jpg);
    height: 97vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    margin-top: 0.7rem;
    position: relative; /* Add position relative to the container */
}

.text-overlay {
    position: absolute;
    bottom: 0; /* Align to the bottom */
    right: 0; /* Align to the right */
    padding: 20px; /* Optional padding for better visibility */
    color: white;
    text-align: right;
}

.text-overlay h1 {
    font-size: 3em;
}

.text-overlay p {
    font-size: 1.5em;
}


.signup-profile-pic__container {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.signup-profile-pic {
    width: 100px;
    border-radius: 50%;
    border: 2px solid gray;
    object-fit: cover;
    height: 100px;
}

.add-picture-icon {
    position: absolute;
    bottom: 0;
    right: 10px;
    color: green;
    background: white;
    cursor: pointer;
    z-index: 99;
}

/* .otpverify{
	display: none;
}

.otp-btn{
    padding: 10px;
    background-color: #82eec1;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
} */

/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


form .input-field {
  flex-direction: row;
  column-gap: 10px;
}
.input-field input {
  height: 45px;
  width: 42px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
.input-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button {
  display: none;
}
#otpForm button {
    margin-top: 25px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    padding: 9px 0;
    cursor: pointer;
    border-radius: 6px;
    pointer-events: none;
    background: #6e93f7;
    transition: all 0.2s ease;
}
#otpForm button.active {
  background: #4070f4;
  pointer-events: auto;
}
#otpForm button:hover {
  background: #0e4bf1;
}



