<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon"  href="static/images/favicon.png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    <!-- Include any additional CSS files here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_component.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap" />

</head>
<body>
    <!-- Flash Messages -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
        
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col-md-5 login__bg">
                <div class="text-overlay">
                    <h1 class="recursive-font">Welcome back!</h1>
                    <h5>You can sign in to access with your existing profile</h5>
                </div>
                
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-7 d-flex align-items-center justify-content-center flex-direction-column">
                        <form style="width: 80%; max-width: 500px;" method="POST">
                            <h1 class='text-center'>Forgot Password</h1>
                            <br>
                            {{ form.csrf_token }}
                            <div class="mb-3">
                                {{ form.email.label(class="form-label") }} <span style="color:red">*</span>
                                {{ form.email(class="form-control", placeholder="Enter email", required=true) }}
                            </div>
                            <button class="btn btn-primary" type="submit">
                                {% if isLoading %}<div class="spinner-grow" role="status"></div>{% else %}Reset Password{% endif %}
                            </button>
                            <div class="py-4">
                                <p class="text-center">
                                    <a href="#">Back to Login Page</a> | <a href="#">Back to Registration Page</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Include any additional JS files here -->
    
</body>
</html>