<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single Product &mdash; Grocery Website</title>
    <link rel="icon"  href="static/images/favicon.png">
    <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body style="background-color: var(--color-grey)">
    <nav class="nav">
      <div class="container nav_container">
        <div class="logo_box">
          <div class="logo_box"><img src="./images/icon/Logo.svg" alt="" class="logo"/></div>
        </div>
        <ul class="nav_list">
          <li class="nav_item"><a href="./index.html" class="nav_link">Home</a></li>
          <li class="nav_item"><a href="./about.html" class="nav_link">About</a></li>
          <li class="nav_item"><a href="./shop.html" class="nav_link">Shop</a></li>
          <li class="nav_item"><a href="./portfolio.html" class="nav_link">Projects</a></li>
          <li class="nav_item"><a href="./blog.html" class="nav_link">News</a></li>
          <li class="nav_item"><a href="./contact.html" class="nav_link">Contact Us</a></li>
        </ul>
      </div>
    </nav>

    <!-- 3rd page -->
    <header class="mini_header single_header">
        <div class="container mini_header_container">
            <div class="mini_header_wrapper">
                <div class="mini_header_title">Single Product</div>
            </div>
        </div>
    </header>
   <section class="single">
    <div class="container single_container">
        <img src="./images/single-header.png" alt="" class="single_img">
        <div class="single_content">
            <h2 class="single_title">Health Pistachios</h2>
            <div class="single_stars">
                <img src="./images/icon/star.png" alt="" class="star">
                <img src="./images/icon/star.png" alt="" class="star">
                <img src="./images/icon/star.png" alt="" class="star">
                <img src="./images/icon/star.png" alt="" class="star">
                <img src="./images/icon/star.png" alt="" class="star">
            </div>
            <h4 class="single_price">Rs.13.00/kg</h4>
            <p class="single_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quae ad magnam numquam, aliquid recusandae, nihil perferendis cum voluptatibus molestias quo laboriosam illo commodi at veniam repellendus dicta possimus inventore!</p>
            <div class="cart">
                
                <h3 class="cart_title">Add to Cart:</h3>
                <input type="text" class="cart_input">
                <button class="cart_btn">Add</button>
            
            </div>
        </div>
        
    </div>
   </section>
    <section class="product">
        <div class="container">
          <div class="section_header_center">
            <h5 class="header_section_title_2">Categories</h5>
            <h2 class="header_section_title_1">Related Products</h2>
          </div>
          <div class="products">
            <div class="product_card">
              <img src="./images/p-1.png" alt="" class="product_img" />
              <p class="product_tag">Vegetable</p>
              <div class="product_body">
                <h3 class="product_title">Calabrese Broccoli</h3>
                <div class="product_footer">
                  <h4 class="product_price">Rs. 14.00/kg</h4>
                  <div class="product_rating">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                  </div>
                </div>
              </div>
            </div>
            <div class="product_card">
              <img src="./images/p-1.png" alt="" class="product_img">
              <p class="product_tag">Vegetable</p>
              <div class="product_body">
                <h3 class="product_title">Calabrese Broccoli</h3>
                <div class="product_footer">
                  <h4 class="product_price">Rs. 14.00/kg</h4>
                  <div class="product_rating">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                  </div>
                </div>
              </div>
            </div>
            <div class="product_card">
              <img src="./images/p-1.png" alt="" class="product_img">
              <p class="product_tag">Vegetable</p>
              <div class="product_body">
                <h3 class="product_title">Calabrese Broccoli</h3>
                <div class="product_footer">
                  <h4 class="product_price">Rs. 14.00/kg</h4>
                  <div class="product_rating">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                  </div>
                </div>
              </div>
            </div>
            <div class="product_card">
              <img src="./images/p-1.png" alt="" class="product_img">
              <p class="product_tag">Vegetable</p>
              <div class="product_body">
                <h3 class="product_title">Calabrese Broccoli</h3>
                <div class="product_footer">
                  <h4 class="product_price">Rs. 14.00/kg</h4>
                  <div class="product_rating">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                  </div>
                </div>
              </div>
            </div>
            <div class="product_card">
              <img src="./images/p-1.png" alt="" class="product_img">
              <p class="product_tag">Vegetable</p>
              <div class="product_body">
                <h3 class="product_title">Calabrese Broccoli</h3>
                <div class="product_footer">
                  <h4 class="product_price">Rs. 14.00/kg</h4>
                  <div class="product_rating">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                  </div>
                </div>
              </div>
            </div>
            <div class="product_card">
              <img src="./images/p-1.png" alt="" class="product_img">
              <p class="product_tag">Vegetable</p>
              <div class="product_body">
                <h3 class="product_title">Calabrese Broccoli</h3>
                <div class="product_footer">
                  <h4 class="product_price">Rs. 14.00/kg</h4>
                  <div class="product_rating">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                  </div>
                </div>
              </div>
            </div>
            <div class="product_card">
              <img src="./images/p-1.png" alt="" class="product_img">
              <p class="product_tag">Vegetable</p>
              <div class="product_body">
                <h3 class="product_title">Calabrese Broccoli</h3>
                <div class="product_footer">
                  <h4 class="product_price">Rs. 14.00/kg</h4>
                  <div class="product_rating">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                  </div>
                </div>
              </div>
            </div>
            <div class="product_card">
              <img src="./images/p-1.png" alt="" class="product_img">
              <p class="product_tag">Vegetable</p>
              <div class="product_body">
                <h3 class="product_title">Calabrese Broccoli</h3>
                <div class="product_footer">
                  <h4 class="product_price">Rs. 14.00/kg</h4>
                  <div class="product_rating">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                    <img src="./images/icon/star.png" alt="" class="star">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="button">
            <button class="products_btn">Load More</button>
          </div>
        </div>
      </section>
    <section class="subscribe">
      <div class="container sub_container">
        <h2 class="subscribe_text">Subscribe to <br /> our Newsletter</h2>
        <form action="">
          <input type="text" class="form_input" placeholder="Write your Email">
          <button class="form_btn">Subscribe</button>
        </form>
      </div>
    </section>
      <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>
  </body>
</html>
