{% extends "base.html" %}
{% block body %}
    {% include "navbar_manager.html" %}
    <div class="container mt-5">
        <h1 class="text-center">Summary Page</h1>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Category-wise Utilization</h2>
                        <img class="img-fluid" src="/static/images/category_utilization.png" alt="Category-wise Utilization">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Comparison between Items in Demand</h2>
                        <img class="img-fluid" src="/static/images/summary.png" alt="Range of Products Bought in the Present Week">
                    </div>
                </div>
            </div>
        </div>
        <div style="font-family: 'Arial', sans-serif;padding-top: 20px;">
            {% if out_of_stock.length!=0 %}
            <h2 style=" color: red; /* Set the font color for out-of-stock items */
            font-weight: bold;font-size: 1.5rem;">Out-of-Stock Items:</h2>
            <ul>
                {% for item in out_of_stock %}
                    <li class="out-of-stock">{{ item }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No out-of-stock items at the moment.</p>
        {% endif %}
    
        </div>
    </div>
    
{% endblock %}