<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  href="static/images/favicon.png">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    <!-- Include any additional CSS files here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register_component.css') }}">
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init({
        publicKey:"5XtInxlNDLF7r0bv4",
      });
   })();
</script>
</head>
<body>
    <!-- Flash Messages -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
        
    {% endfor %}
    <!-- Include your Flash Messages code here -->

    <div class="container">
        <div class="row">
            <div class="col-md-7 d-flex align-items-center justify-content-center flex-direction-column">
                <form style="width: 80%; max-width: 500px;" method="POST" action="/user_register" onsubmit="return handleSignup(event)">
                    <h1 class='text-center'>Create account</h1>
                    <br>
                    <div class="signup-profile-pic__container">
                        <img src="../static/images/icon/user1.png" id="signup-profile-pic" class="signup-profile-pic" alt="Profile">
                        <label for="image-upload" class="image-upload-label" onclick="triggerFileInput()">
                            <!-- <i class="fas fa-plus-circle add-picture-icon"></i> -->
                        </label>
                        <input type="file" id="image-upload" hidden accept="image/png, image/jpeg" onchange="handleImageUpload(event)">
                    </div>
                    {{form.hidden_tag()}}
                    <div class="form-group mb-3">
                        {{ form.name.label(class="form-label") }}<span style="color:red">*</span>
                        {{ form.name(class="form-control", id="formBasicName", placeholder="Your name") }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.username.label(class="form-label") }}<span style="color:red">*</span>
                        {{ form.username(class="form-control", id="formBasicUsername", placeholder="Your username") }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.email.label(class="form-label form-email") }}<span style="color:red">*</span>
                        {{ form.email(class="form-control", id="formBasicEmail", placeholder="Enter email") }}
                        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>

                    <button class="btn form-group mb-3" onclick="verifyEmail(event)" style="
                    background-color: #82eec1;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    border-radius: 5px;">Send OTP</button>
                    <input type="hidden" id="emailVerified" name="emailVerifiedInput" value="false">
                    <div class="form-group mb-3">
                        {{ form.password_hash.label(class="form-label") }}<span style="color:red">*</span>
                        {{ form.password_hash(class="form-control", id="formBasicPassword", placeholder="Password") }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.password_hash2.label(class="form-label") }}<span style="color:red">*</span>
                        {{ form.password_hash2(class="form-control", id="formRepeatPassword", placeholder="Repeat Password") }}
                        
                        <small class="form-text text-danger" id="error"></small>
                        
                    </div>
                    <div class="text-center">
                        <button name="signup_btn" type="submit" class="btn btn-primary" style="font-size: large;">
                            Sign Up
                        </button>
                    </div>
                    
                    <div class="py-4">
                        <p class="text-center">
                            Already have an account? <a href="user_login">Login</a>
                        </p>
                    </div>
                </form>    
            </div>
 
            <div class="col-md-5 signup__bg">
                <div class="text-overlay">
                    <h1>A Step Towards a Healthy Life</h1>
                </div>
            </div>
            
        </div>
    </div>

   <!-- Bootstrap Modal -->
    <div class="modal fade" id="otpModal" tabindex="-1" aria-labelledby="otpModalLabel" aria-hidden="true" style="padding-top: 230px;">
        <div class="modal-dialog">
            <div class="modal-content" style="display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;">
            
                <div class="modal-body">
                    <div style="height: 65px;
                    width: 65px;
                    background: #4070f4;
                    color: #fff;
                    font-size: 2.5rem;
                    border-radius: 50%;margin-left: 60px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="32" fill="currentColor" class="bi bi-shield-fill-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.8 11.8 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7 7 0 0 0 1.048-.625 11.8 11.8 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.54 1.54 0 0 0-1.044-1.263 63 63 0 0 0-2.887-.87C9.843.266 8.69 0 8 0m2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793z"/>
                    </svg>
                    </div>
                    <h5 class="modal-title" id="otpModalLabel"  style="margin-left:22px;margin-right: 22px;margin-top: 22px;">Enter OTP Code</h5>
                    <h6 style="font-size: small;margin-bottom: 22px;margin-left: 45px;">( Sent to Email )</h6>
                    <form id="otpForm">
                        <div class="input-field">
                            <input class="otpInput" type="number" id="otp1" />
                            <input class="otpInput" type="number" id="otp2" disabled />
                            <input class="otpInput" type="number" id="otp3" disabled />
                            <input class="otpInput" type="number" id="otp4" disabled />
                        </div>
                        <button type="button" class="btn btn-primary" id="verifyOTPBtn" disabled>Verify OTP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Include any additional JS files here -->
    <script>
        
        async function verifyEmail(event) {
            event.preventDefault();
            var email = document.getElementById("formBasicEmail").value;
           
            // Add logic to send OTP to email, e.g., through AJAX or backend API
            // For simplicity, assuming the backend returns success for a valid email
           
            EmailValidationMessage=emailIsValid(email)
            if ( EmailValidationMessage=="valid") {
                
                RemoveErrorMessage('formBasicEmail');
                document.getElementById("formBasicEmail").value = email;
                
                sendOTP();
            } else {
                ShowErrorMessage('formBasicEmail',EmailValidationMessage);
            }


            
        }
        function emailIsValid(email){

            const emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            if(email == ""){
                return "Please fill the field.";
            }

            if(emailRegex.test(email) == false){
                return "This is not a valid email.";
            }

            return "valid";
        }
            // OTP VERSION
        const otpForm = document.getElementById('otpForm');
        const verifyOTPBtn = document.getElementById('verifyOTPBtn');

        // Enable the Verify OTP button when all input fields have values
        otpForm.addEventListener('input', () => {
            const inputs = otpForm.querySelectorAll('input[type="number"]');
            const isButtonDisabled = Array.from(inputs).some(input => input.value === '' || input.value === undefined);
            verifyOTPBtn.disabled = isButtonDisabled;
        });

        // Handle the Verify OTP button click
        // verifyOTPBtn.addEventListener('click', () => {
        //     alert('OTP verified!'); // Replace this with your actual logic
        //     $('#otpModal').modal('hide'); // Hide the Bootstrap modal
        // });

        

        // ----------------------------------------------------------------------
        

        function RemoveErrorMessage(inputId) {
            var errorMessageElement = document.getElementById(inputId + '-error');
            if (errorMessageElement) {
                errorMessageElement.remove();
               
                // Remove 'error-input' class from the input element
                var inputElement = document.getElementById(inputId);
                inputElement.classList.remove('error-input');
            }
        }



       

        function handleSignup(event) {
           
            event.preventDefault();
            var otpContainer = document.querySelector('.otpverify');
            var otpInput = document.getElementById('otp_inp');
            var otpBtn = document.getElementById('otp-btn');

            var emailVerifiedInput = document.getElementById('emailVerified');

            
            if (emailVerifiedInput.value !== 'true') {
                alert('Email not verified. Please verify your email before submitting the form.');
                event.preventDefault(); // Prevent form submission
               
                return false;
            }
            // Check if passwords match
            var password1 = document.getElementById('formBasicPassword').value;
            var password2 = document.getElementById('formRepeatPassword').value;
            PasswordValidationMessage = isValidPassword(password1);
            if(PasswordValidationMessage != "valid"){
                RemoveErrorMessage('formBasicPassword')
                ShowErrorMessage('formBasicPassword',PasswordValidationMessage);
                return false;
            }
            else{
                RemoveErrorMessage('formBasicPassword')
            }
            
            
           

            if (password1 !== password2) {
                
                
                document.getElementById('formRepeatPassword').value = '';
                document.getElementById('error').textContent = 'Passwords do not match!';
                event.preventDefault();
                return false; // Prevent form submission
            }
            const email = document.getElementById('formBasicEmail');
            
            document.getElementById("formBasicEmail").value = email.value;
            event.target.submit();
            return true;
           
        }
        function isValidPassword(password) {
	
            const minLength = 8;
            const maxLength = 32;
            const letterNumberRegexSpecialChar = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z\d!@#$%^&*]{8,}$/;

            if(password == ""){
                return "Please fill the field."
            }

            if (password.length < minLength || password.length > maxLength) {
                return "Password length should be minimum 8 & maximum 32 characters.";
            }

            if (!letterNumberRegexSpecialChar.test(password)) {
                return "Password should contain alphabetic, numeric and special characters.";
            }
            return "valid";
        }

       
            async function sendOTP() {
                event.preventDefault();
                
                const email = document.getElementById('formBasicEmail');
                const otpverify = document.getElementsByClassName('otpverify')[0];
                const emailFormGroup = document.querySelector('.form-email');
                
                const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

                const response = await fetch('/check_email', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    },
                    body: JSON.stringify({ email: email.value }),  // Use 'body' instead of 'data'
                });
                const responseData = await response.json();
                
       

                if (!responseData.exists) {
                    alert('Email is already registered. Please use a different email.');
                    return;
                }
                
                const smtp_token = "{{ smtp_token }}";

                let otp_val =Math.floor(Math.random() * 9000) + 1000; 
                var emailVerifiedInput = document.getElementById('emailVerified');
                
                let emailbody = `${otp_val}`;
               

                emailjs.send("service_qj0ybgq","template_79b6icv",{
                
                To: email.value,
                From: "organick.groc@gmail.com",
                Subject: "Email OTP for Password Reset",
                Body: emailbody,
            }).then(
                   
                message => {
                    alert("Message sent through email OTP");
                    if (message.text === "OK") {
                    
                        $('#otpModal').modal('show');
                        
                        
                        const otp_btn = document.getElementById('verifyOTPBtn');
                        
                        otp_btn.addEventListener('click', () => {
                            const otp1 = document.getElementById('otp1').value;
                            const otp2 = document.getElementById('otp2').value;
                            const otp3 = document.getElementById('otp3').value;
                            const otp4 = document.getElementById('otp4').value;
                            const enteredOTP = otp1 + otp2 + otp3 + otp4;
                            
                            if (enteredOTP == otp_val) {
                                alert("Email address verified...");
                                emailVerifiedInput.value = "true";
                                
                                $('#otpModal').modal('hide'); // Close the modal
                                // email.disabled = true; // Disable the email field
                                email.readOnly = true;
                                displayVerificationTick(emailFormGroup);
                                event.preventDefault();
                                
                            }
                            else {

                                alert("Invalid OTP. Please Try Again");
                                event.preventDefault();
                            }
                        })
                    }
                }
                ).catch(
                    error => {
                        console.error("Error sending email:", error);
                        alert("There was an error sending the email. Please try again later.");
                    }
                );
            }
            
        
        function displayVerificationTick(emailFormGroup) {
            // Create an element for the verification tick
            const tickElement = document.createElement('span');
            tickElement.innerHTML = `
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
            `;
            tickElement.style.color = 'green';
            tickElement.style.marginLeft = '5px';
            
            // Append the tick element to the email form group
            emailFormGroup.appendChild(tickElement);
        }
        function ShowErrorMessage(InputBoxID,Message){
            if(Message=='') return;
            var InputBox = document.getElementById(InputBoxID);
            InputBox.value='';
            InputBox.classList.add('error-input');
            InputBox.style.borderColor = 'red';
            InputBox.focus();

            var ErrorMessageElement = document.createElement("p");
            ErrorMessageElement.innerHTML = Message;
            ErrorMessageElement.classList.add('error-message');
            ErrorMessageElement.style.color = 'red';  // Set the text color
            ErrorMessageElement.style.fontSize = '0.8rem';
            

            ErrorMessageElement.setAttribute("id",InputBoxID+'-error');

            InputBox.parentNode.insertBefore(ErrorMessageElement, InputBox.nextSibling);

        }  
        const inputs = document.querySelectorAll(".otpInput"),
        button = document.querySelector("#verifyOTPBtn");


        // iterate over all inputs
        inputs.forEach((input, index1) => {
        input.addEventListener("keyup", (e) => {
        // This code gets the current input element and stores it in the currentInput variable
        // This code gets the next sibling element of the current input element and stores it in the nextInput variable
        // This code gets the previous sibling element of the current input element and stores it in the prevInput variable
        const currentInput = input,
            nextInput = input.nextElementSibling,
            prevInput = input.previousElementSibling;

        // if the value has more than one character then clear it
        if (currentInput.value.length > 1) {
            currentInput.value = "";
            return;
        }
        // if the next input is disabled and the current value is not empty
        //  enable the next input and focus on it
        if (nextInput && nextInput.hasAttribute("disabled") && currentInput.value !== "") {
            nextInput.removeAttribute("disabled");
            nextInput.focus();
        }

        // if the backspace key is pressed
        if (e.key === "Backspace") {
            // iterate over all inputs again
            inputs.forEach((input, index2) => {
            // if the index1 of the current input is less than or equal to the index2 of the input in the outer loop
            // and the previous element exists, set the disabled attribute on the input and focus on the previous element
            if (index1 <= index2 && prevInput) {
                input.setAttribute("disabled", true);
                input.value = "";
                prevInput.focus();
            }
            });
        }
        //if the fourth input( which index number is 3) is not empty and has not disable attribute then
        //add active class if not then remove the active class.
        if (!inputs[3].disabled && inputs[3].value !== "") {
            button.classList.add("active");
            return;
        }
        button.classList.remove("active");
        });
        });

        //focus the first input which index is 0 on window load
        window.addEventListener("load", () => inputs[0].focus());
    </script>
</body>
</html>
